
* {
    margin: 0;
    padding: 0;
}
		
html, body, #dataView, #login {
	width: 100%;
	height: 100%;

}

#dataView {
    text-align: center;
    background-color: aliceblue;
}

#circuitSelect{
    
}

#circuitSelector {
    padding:100px;
}

.dataDiv{
    float:left;
    margin:30px;
}

		
#other {
	width: 100%;
	height: 30%;
	bottom: 0px;
}

h4{
    color:maroon;
}

#info *, #login * {
    position: relative;
}

#login {
    padding: 200px 300px 300px 300px;
}

